<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div id="deliveryBoysTransactionDetails"
		th:fragment="transactionDetails">
		<div class="card height">
			<div class="card-body">
				<h4 class="card-title">
					Name of the delivery boy : <span id="selectedDeliveryBoyName"></span>
				</h4>
				<p class="card-text">
					<strong>Total Distance travel today</strong> : <span
						th:text="${deliveryBoy != null} ? ${deliveryBoy.totalDistanceTravelled} : 'N/A'"></span>
					KM
				</p>
				<br>
				<p class="card-text">
					<strong>Total Service Charge To Be Collected</strong> :&#8377; <span
						id="totalServiceChargeToCollect"
						th:text="${deliveryBoy != null} ? ${deliveryBoy.totalServiceChargeToCollect} : 'N/A'"></span>
				</p>
				<br>
				<p class="card-text">
					<strong>Money provided in morning</strong> :&#8377; <span><input
						id="moneyProvidedInputBox" type="text"
						th:value="${deliveryBoy != null} ? ${deliveryBoy.totalMoneyProvidedInMorning} : 'N/A'"
						size="10" disabled="disabled"></span>
					<button type="button" onclick="editMoneyProvided();"
						class="text-uppercase btn-danger">Edit</button>
					<input type="hidden" th:value="${moneyProvidedInMorning}"
						id="oldMoneyProvided">
				</p>
				<br>
				<p class="card-text">
					<strong>Total Submissions</strong> :&#8377; <span
						th:text="${totalSubmission}"></span>
				</p>
				<br>
				<button class="btn btn-success" onclick="submitMoney();">Submit</button>

			</div>
		</div>
	</div>
</body>
</html>