<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<!-- Modal -->
	<div id="tripMoreDetailModal" th:fragment="tripMoreDetails"
		tabindex='-1' class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Trips Details</h4>
				</div>
				<div class="modal-body">
					<div th:if="${deliveryBoyTripDetails != null}">
						<table class="table-hover table-responsive table-bordered">
							<thead>
								<tr>
									<th>#</th>
									<th>Item Name</th>
									<th>Pickup point</th>
									<th>Delivery point</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="tripDetail,count : ${deliveryBoyTripDetails}">
									<td th:text="${count.count}"></td>
									<td th:text="${tripDetail.itemName}"></td>
									<td th:text="${tripDetail.orderPickedFrom}"></td>
									<td th:text="${tripDetail.orderDeliveredAt}"></td>
								</tr>
							</tbody>
						</table>
						<div th:if="${deliveryBoyTripDetails == null}">No Records
							Found</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
</body>
</html>