.card{
  margin: 20px;
  text-align: center;
  
  box-shadow: 2px 47px 206px 26px rgba(0,0,0,0.75);
}
input{
  margin: 5px;;
}
.dropdown{
  margin-top: 5px;
}
.btn{
  margin-top: 5px;
}
body{
  background: #134E5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
