<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
	integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
	integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
	integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
	crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/ordernow.js"></script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="/js/submitreport.js"></script>
<link rel="stylesheet" type="text/css" href="/css/submitreport.css">

<title>CallNao</title>
</head>
<body>
	<div th:replace="fragments/header:: filxedHeader"></div>
	<div class="container">
		<div class="dropdown show form-group">
			<select id="deliveryBoyList"
				th:onchange="'getDeliveryBoysDetailsFunc(this);'"
				class="form-control">
				<option selected="selected" disabled>Select Delivery Boy
					Name</option>
				<option th:each="deliveryBoy : ${deliveryBoysBean}"
					th:if="${deliveryBoy != null}"
					th:value="${deliveryBoy.deliveryBoyId}"
					th:text="${deliveryBoy.deliveryBoyFirstName}+' '+${deliveryBoy.deliveryBoyLastName}"></option>
			</select>


			<!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item" href="#">name 1</a> <a
					class="dropdown-item" href="#">name 2</a> <a class="dropdown-item"
					href="#">name 3</a>
			</div> -->
		</div>
		<div class="card" id="totalCollection">
			<h2>
				Total to collect : &#8377; <span
					th:text="${totalMoneyToBeCollected}"></span>
			</h2>
			<br>
			<h2>
				Total money collected : &#8377; <span
					th:text="${totalMoneyCollected}"></span>
			</h2>
		</div>

		<div class="row">
			<div id="deliveryBoysPaymentDetails"
				th:include="fragments/deliveryBoysPaymentDetails:: paymentDetails"
				class="col-md-6"></div>
			<div id="deliveryBoysTripDetails"
				th:include="fragments/deliveryBoysTripDetails:: tripDetails"></div>
		</div>
		<div id="deliveryBoyTripMoreDetails"
			th:include="fragments/deliveryBoyTripMoreDetails:: tripMoreDetails"></div>

	</div>




</body>
</html>
