<!DOCTYPE html>
<html>
<body>
	<!-- Modal -->
	<div id="SuspiciousActivityModal" class="modal fade" role="dialog" tabindex='-1'>
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:text="${ErrorMsgHeader}"></h4>
				</div>
				<div class="modal-body">
					<h4 th:text="${ErrorMessage}"></h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
</body>
</html>